@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Para agendar una Cita debe estar registrado <a href="https://www.gsoluciones.cl">..</a></p>
</div>
